{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "styleLibraryName": "theme-default"
      }
    ]
  ],
  "comments": false
}